<!DOCTYPE html>
<html lang="en">
<head>
    <title>Order Confirmation</title>
</head>
<body>
    <h1>Order Confirmation</h1>
    
    <h2>Your Order Details</h2>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for product_name, product_info in cart_items.items() %}
            <tr>
                <td>{{ product_name }}</td>
                <td>{{ product_info[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p>Total Price: ₹{{ total_price }}</p>
    
    <p>Your order has been confirmed. Thank you for shopping with us!</p>
</body>
</html>
